# docker-compose.yml
version: '3.8'

networks:
  monitor-net:
    driver: bridge

volumes:
  grafana_data: {}

services:
  # 1. Prometheus Server
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      # Monta o arquivo de configuração criado na Etapa 2
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitor-net
    restart: aways

  # 2. Node Exporter (Para coletar métricas do host)
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/host/rootfs'
    networks:
      - monitor-net
    restart: aways

  # 3. Grafana Server
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      # Persiste os dados de dashboards e configurações
      - grafana_data:/var/lib/grafana
    networks:
      - monitor-net
    restart: unless-stopped
    # Define uma dependência: Grafana só inicia após Prometheus e Node Exporter
    depends_on:
      - prometheus
      - node_exporter
